@import "tailwindcss";

/* @config "../tailwind.config.js"; */

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-coffee-roasted: #efc;
    --color-coffee-normal: #abbaba;

    --breakpoint-md: 30rem;
}

.heading{
    @apply m-2 text-3xl font-bold underline text-center bg-blue-500 md:bg-coffee-roasted lg:bg-coffee-normal;
}